<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.myshop.repository.RoleMapper">

    <resultMap id="role" type="com.study.myshop.po.RolePO">
        <id property="roleId" column="role_id"  />
        <result property="roleName" column="role_name"/>
    </resultMap>




    <select id="selectRolePoListByAdminId" resultMap="role">
        SELECT r.* FROM role r
        INNER JOIN admin_role ar ON ar.role_id = r.role_id
        WHERE ar.admin_id = #{adminId}
    </select>

    <select id="selectRoleListByOperateUrl" resultMap="role">
        select r.*  FROM operate o
                             INNER JOIN permission_operate po ON po.operate_id = o.operate_id
                             INNER JOIN permission p ON p.permission_id = po.operate_id
                             INNER JOIN role_permission rp ON rp.permission_id = p.permission_id
                             INNER JOIN role r on r.role_id = rp.role_id
        WHERE o.operate_url=#{operateUrl}
    </select>



    <delete id="deleteRoleByAdminId">
        delete from admin_role where admin_id = #{adminId}
    </delete>


    <select id="selectRoleList" resultMap="role">
        select * from role;
    </select>


    <!--
	resultMap标签：设置自定义映射
	属性：
		id属性：表示自定义映射的唯一标识
		type属性：查询的数据要映射的实体类的类型
	子标签：
		id标签：设置主键的映射关系
		result标签：设置普通字段的映射关系
		association标签：设置多对一的映射关系
		collection标签：设置一对多的映射关系
		属性：
			property属性：设置映射关系中实体类中的属性名
			column属性：设置映射关系中表中的字段名
-->
    <resultMap id="AdminRoleVo" type="com.study.myshop.vo.AdminRoleVo">
        <id property="roleId" column="role_id"  />
        <result property="roleName" column="role_name"/>
        <result property="has" column="has"/>
    </resultMap>




    <select id="selectAdminRoleVo" resultMap="AdminRoleVo">
        SELECT *
        FROM role r
                 LEFT JOIN
                 (SELECT role_id AS has FROM admin_role WHERE admin_id = #{adminId}) AS ar ON ar.has = r.role_id
    </select>


</mapper>